html,
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Halvetica;
  background-color: white;
  }
.container {
  max-width:960px;
  margin:0px auto;
}
.flex {
  display: flex;
}
.main-banner{
  height: 31rem;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png") center center / cover no-repeat;
  padding-top: 1rem;
  padding: 1rem 0;
}

header {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-size:1rem;
  align-items: center;
  justify-content: space-between;

}

.logo {
    align-items: center;
    display: flex;
    padding: 1rem 0;
}

.logo img {
  height:1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

.logo span {
  text-align: center;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    align-items: center;
    justify-content: space-between;
}
.phone-nav {
  display: none;
}
nav ul li {
    display: inline;
    padding-right: 2rem;
    justify-content: flex-end;
}

.main-advert {
  display: inline-block;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
}

.main-advert h1 {
  font-weight: bold;
  font-size:2rem;
  line-height: 1.2;
}

#flex-container{
  justify-content: flex-end;
}
.supporting {
  display: flex;
  justify-content: center;

}
.service{
  display: flex;
  justify-content:space-between;
  align-items:center;
  text-align: center;
  flex-direction: column;
  height:8rem;
  width:5rem;
  text-align:center;
  margin:3rem;
}
.service img {
  width:3.5rem;
  margin-bottom: 1rem;


}
.service div {
  display: block;
}
.contents {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  font-family: Helvetica;
}
.content {
  margin-right: 5%;
  font-size:1rem;
  width:10rem;
  width: 35%;
  margin-bottom: 5rem;

}
.title {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  align-items: center;
  color: white;
  font-weight:bold;
  max-width:10rem;
}
.content p {
  padding: 1rem 0px;
}
footer {
  background-color: azure;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
}
footer img {
    height: 1.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
@media only screen and (max-width:1024px){
  header.container{
    max-width: 100%;
  }

  .main-banner {
    height:22rem;
    padding-top: 0;
  }
  .main-advert h1 {
    font-size:1.33rem;
    padding: 0.75rem 0;
  }
  .main-advert {
    margin-top: 5rem;
    margin-right: 2rem;
}
}
@media only screen and (max-width:650px){
  .logo span {
    display: none;
  }
}
@media only screen and (max-width:470px) {
  header.container{
    max-width: 100%;
  }
  .reg-nav {
    display: none;
    padding: 1rem 0;
  }
  .main-banner {
    height:17rem;
    padding-top: 0;
    background-position: 20%;
  }
  .logo span {
    display:none;
  }
  .phone-nav {
    display: flex;
  }
  header
  .main-advert h1 {
    font-size:1rem;
    text-align: center;
  }

  .main-advert {
    margin:9rem auto 0 auto;
    padding: 0 1rem;
    width: 100%;
    text-align: center;
 }

  .contents {
    display:flex;
    flex-direction:column;
    margin-top: 3.77rem;
    justify-content: flex-start;
  }
  .content {
    width: auto;
  }
  .title {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .content p {
    font-size:0.77rem;
    font-family:Helvetica;
  }
  footer {
    justify-content:center;
  }
  footer span {
    display: none;
  }
  .supporting {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-size:0.77rem;
  }
  .service {
    margin-bottom: 1.52rem;
    height:auto;
    margin: 0.77rem;
}
  .service img {
    width: 3.5rem;
    margin-bottom: 1rem;
}
