html,
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: Halvetica;
  background-color: white;
  }
.container {
  max-width:960px;
  margin:0px auto;
}
.flex {
  display: flex;
}
.main-banner{
  height: 31rem;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png") center center / cover no-repeat;
}

header {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-size:1rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
    align-items: center;
    display: flex;
}

.logo img {
  height:1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

div span {
  text-align: center;
}

nav {
    padding: 1rem 0;
    background-color: cadetblue;
    color: white;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    padding-right: 2rem;
}

.main-advert {
  display: inline-block;
  background-color: white;
  margin-top: 10rem;
  margin-right: 2rem;
}

.main-advert h1 {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size:2rem;
  line-height: 1.2;
}

.main-banner.flex {
  justify-content: flex-end;
}
